<html ng-app="Main">
<head>
  <title>Townhall</title>
  <link rel="stylesheet" href="styles/styles.css">
  <link href="lib/angular-material/angular-material.css" rel="stylesheet" />
  <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="lib/angular-material/angular-material.css" rel="stylesheet"/>
</head>
<body>
  <div class='contiainer' ng-controller='MainController'>

    <!-- toolbar/header material ui element -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <a href='#/questions'>
            <md-icon md-svg-icon="styles/home.svg">
            </md-icon>
          </a>
        </md-button>
        <h1>
          <span>Townhall</span>
        </h1>
        
        
        <span flex></span>

        <md-button aria-label="new question">
          <a href='#/ask'>
            <md-icon md-svg-icon="styles/plus.svg"></md-icon>
          </a>
        </md-button>

        <md-button ng-click='goToCourses()' aria-label="Courses" ng-show="user.isAdmin">
          <md-icon md-svg-icon="styles/book-open.svg"></md-icon>
        </md-button>
    
        <md-button ng-click='goToAdmin()' aria-label="Admin" ng-show="user.isAdmin">
          <md-icon md-svg-icon="styles/account-multiple-plus.svg"></md-icon>
        </md-button>

        <md-button ng-click='goToProfile()' aria-label="Profile">
          <md-icon md-svg-icon="styles/account.svg"></md-icon>
        </md-button>

        <md-button ng-click='logout()' aria-label="Logout">
          <md-icon md-svg-icon="styles/account-off.svg"></md-icon>          
        </md-button>
      </div>

    </md-toolbar>

    <div class='viewContainer'>
      <div ui-view></div>
    </div>
    
  </div>

  <script src='lib/angular/angular.js'></script>
  <script src='lib/angular-ui-router/release/angular-ui-router.min.js'></script>
  <script src='lib/angular-route/angular-route.js'></script>
  <script src='lib/angular-bootstrap/ui-bootstrap-tpls.js'></script>
  <script src='lib/angular-bootstrap/ui-bootstrap.js'></script>
  <script src="lib/angular-animate/angular-animate.js" type="text/javascript" ></script>
  <script src="lib/angular-aria/angular-aria.js" type="text/javascript" ></script>
  <script src="lib/angular-material/angular-material.js" type="text/javascript" ></script>
  <script src= 'app/admin/adminController.js'></script>
  <script src= 'app/courses/coursesController.js'></script>
  <script src='app/login/loginController.js'></script>
  <script src='app/ask/askController.js'></script>
  <script src='app/user/userController.js'></script>
  <script src='app/questions/questionsController.js'></script>
  <script src='app/answers/answersController.js'></script>
  <script src='mainController.js'></script>
  <script src="app/services/services.js"></script>
  <script src='app/app.js'></script>
</body>
</html>