### INTELLIJ ###
.idea/
*.iml

### SERVER ###
server/controllers/oldquestionController.js
server/controllers/oldAnswerController.js

### NODE ###
build/
dist/
node_modules/
bower_components/
lib/
client/lib

*/.DS_Store
.DS_Store
client/app/.DS_Store

### API KEYS ###
./server/config/apikeys.js