### INTELLIJ ###
.idea/
*.iml

### SERVER ###
server/controllers/oldquestionController.js
server/controllers/oldAnswerController.js

### NODE ###
build/
dist/
node_modules/
bower_components/
lib/

*/.DS_Store