<md-content class="md-padding" layout="row" layout-wrap layout-align="center start" layout-xs="column">
  <!-- question -->
  <md-card class="questionTop">
    <div layout="row">
      <div flex="30">
        <md-card-header class="questionHeader">
          <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{ question.imgUrl }}"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{ question.user }}</span>
            <span class="md-subhead">{{ question.createdAt }}</span>
          </md-card-header-text>
        </md-card-header>
      </div>
      <div flex="40">

      </div>
      <div flex="10">
        <div layout="column">
          <md-button ng-click='upVoteQuestion(question)' aria-label="up vote" style="margin-bottom: 0px">
            <md-icon md-svg-icon="styles/chevron-up.svg"></md-icon>
          </md-button>
          <md-button ng-click='downVoteQuestion(question)' aria-label="down vote" style="margin-top: 0px">
            <md-icon md-svg-icon="styles/chevron-down.svg"></md-icon>
          </md-button>
        </div>
      </div>
      <div flex hide-xs>
        <md-card-header class="questionHeader">
          <md-card-header-text>
            <span class="md-subhead">answers: {{answers.length}}</span>
            <span class="md-subhead">votes: {{question.votes}}</span>
          </md-card-header-text>
        </md-card-header>
      </div>
    </div>

    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ question.title }}</span>
      </md-card-title-text>
    </md-card-title>
    <br>

    <md-card-content>
      <p>
        {{ question.text }}
      </p>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end">
      <div flex="30">
        <md-icon md-svg-icon="styles/delete.svg" ng-click='removePost($event,question)' ng-show="user.isTeacher"></md-icon>
        <md-icon md-svg-icon="styles/marker-check.svg" ng-click='closeQuestion($event,question)' ng-show="user.isTeacher"></md-icon>
        <md-icon md-svg-icon="../../styles/checkbox-marked-circle.svg" ng-show="question.isPreferred || user.isTeacher" ng-click="markGoodQuestion()" >
        </md-icon> <span ng-show="question.isPreferred"> Teacher Approved Question </span>
      </div>
      <div flex="40">
      </div>
      <div style="text-align: right" flex>
        <md-button md-no-ink class="md-primary" ng-show="question.coursename">{{ question.coursename }}</md-button>
        <md-button md-no-ink class="md-primary" ng-repeat="tag in question.tags">{{ tag }}</md-button>
      </div>
    </md-card-actions>
  </md-card>

  <md-list flex="100">
    <span class="md-title">{{answers.length}} answers</span>
    <md-divider></md-divider>
  </md-list>

  <!-- answers -->
  <md-card ng-repeat='answer in answers' style="width: 100%">
    <div layout="row">
      <div flex="30">
        <md-card-header class="questionHeader">
          <md-card-avatar>
            <img class="md-user-avatar" ng-src="{{ answer.imgUrl }}"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{ answer.user }}</span>
            <span class="md-subhead">{{ answer.createdAt }}</span>
          </md-card-header-text>
        </md-card-header>
      </div>
      <div flex="40"></div>
      <div flex="10">
        <div layout="column">
          <md-button ng-click='upVoteAnswer(answer)' aria-label="up vote" style="margin-bottom: 0px">
            <md-icon md-svg-icon="styles/chevron-up.svg"></md-icon>
          </md-button>
          <md-button ng-click='downVoteAnswer(answer)' aria-label="down vote" style="margin-top: 0px">
            <md-icon md-svg-icon="styles/chevron-down.svg"></md-icon>
          </md-button>
        </div>
      </div>
      <div flex hide-xs>
        <md-card-header class="questionHeader">
          <md-card-header-text>
            <span class="md-subhead">votes: {{answer.votes}}</span>
          </md-card-header-text>
        </md-card-header>
      </div>
    </div>

    <md-card-content>
      <p>
        {{ answer.text }}
      </p>
    </md-card-content>

    <md-card-actions layout="row" layout-align="end">
      <div flex="30">
        <md-icon md-svg-icon="styles/delete.svg" ng-click='removePost($event,answer)' ng-show="user.isTeacher"></md-icon>
        <md-icon md-svg-icon="../../styles/checkbox-marked-circle.svg" ng-show="answer.isPreferred || user.isTeacher" ng-click="markCorrectAnswer(answer)" >
        </md-icon > <span ng-show="answer.isPreferred" > Correct Answer</span>
      </div>
      <div flex="40">
      </div>
      <div flex>
      </div>
    </md-card-actions>
    
    <!-- comments -->
    <md-list>
      <md-divider></md-divider>
      <md-subheader class="md-no-sticky" ng-click="showComments(answer)">
        {{answer.responses}} comments
      </md-subheader>
      <md-list-item class="md-3-line md-short-text" ng-repeat="comment in answer.comments">
        <div class="md-list-item-text">
          <h3>{{comment.user}}</h3>
          <p>
            {{comment.text}}
          </p>
        </div>
      </md-list-item>
      <form name="newAnswerForm" ng-submit="submitComment(answer)">
        <md-input-container class="md-block" style="margin-left: 7px">
          <label>New Comment</label>
          <input ng-model="answer.newComment.text" md-maxlength="250">
        </md-input-container>
      </form>
    </md-list>
  </md-card>
  
  <!-- submit answer -->
  <div layout="column" class="answer-form">
    <form name="newAnswerForm">
      <md-input-container class="md-block answer-input" id="answer_container_id">
        <label>Answer</label>
        <textarea ng-model="newAnswer.text" columns="1" md-maxlength="500" rows="5"></textarea>
      </md-input-container>
      <md-button class="md-raised md-primary" ng-click="submitAnswer()">Submit Answer</md-button>
    </form>
  </div>
</md-content>